# Ambiente Virtual
venv/
.venv/

# Arquivos de Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Configuração Local
config/.env

# Arquivos de IDE
.vscode/
.idea/

# Logs
logs/*
!logs/.gitkeep

# Arquivos de Saída
output/*
!output/.gitkeep
